@keyframes pulse {
  0% {
    background: #222; }
  100% {
    background-color: #530;
    border-color: #ff9900; } }

body {
  background-color: #272927;
  font-color: white;
  font-size: 24;
  text-align: center;
  font-family: anonymous pro; }

h1 {
  font-size: 50;
  margin: auto;
  padding: 5px;
  width: 200px;
  border: 2px solid #333;
  background: #222;
  color: #22ff55;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  background-color: #530;
  border-color: #ff9900; }
  h1:hover {
    background-color: #530;
    border-color: #ff9900; }
  h1.active {
    border-color: #99ccaa;
    color: white;
    animation: pulse 0.5s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

h2 {
  font-size: 18; }

.loop {
  height: 500px;
  width: 500px;
  background-image: url(background.png);
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0, 0, 0, 0.4; }

.beat {
  height: 500px;
  width: 125px;
  background-color: pink;
  opacity: 0.5;
  border-radius: 15px; }

.track {
  background-color: grey;
  height: 50px;
  width: 100px;
  margin: 10px;
  font-size: 12px;
  color: white;
  text-align: center;
  opacity: 1;
  fill: #999999;
  fill-opacity: 1;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 5px 5px 2px black; }
  .track:hover {
    background-color: #530;
    border-color: #ff9900; }

.track:active {
  vertical-align: top;
  box-shadow: 0px 0px 0px black;
  transform: scale(0.95); }
